@model UserProfileViewModel

<p>Id: @Model.Id</p>
<p>Nickname: @Model.Nickname</p>
<p>Status: @Model.Status</p>
@if (Model.CreatedTests is null || Model.CreatedTests.Count == 0)
{
    <p>This user has not created any test yet</p>
}
else
{
    <p>Tests created by this user</p>
    foreach (TestMainInfo test in Model.CreatedTests)
    {
        <a asp-controller="Tests" asp-action="Test" asp-route-id="@test.Id" class="test-ref">
            <img src="@test.ImagePath" class="test-img" />
            <label class="test-name-label">@test.Name</label>
            <label class="test-lang">@test.Language.ToString()</label>
        </a>
    }
}
@if (Model.LastTakenTest is not null)
{
    <p>Last taken test by this user: @Model.LastTakenTest</p>
}