@model CatalogViewModel
<p class="sort-block" id="sortBlock">
    <label>Sort Type:</label>
    <select id="sortType" asp-for="SortType" asp-items="Html.GetEnumSelectList<SortType>()"></select>
    <label>Sort Ascending:</label>
    <input id="isSortAscending" asp-for="IsSortAscending" type="checkbox" />
</p>
<div class="main-container">
    @if (Model.Tests.Count > 0)
    {
        <div class="test-container">
            @foreach (TestMainInfo t in Model.Tests)
            {
                <a asp-controller="Tests" asp-action="Test" asp-route-id="@t.Id" class="test-info">
                    <img src="@t.ImagePath" style="width:130px; height:130px;" class="test-img" />
                    <label class="test-name-label">@t.Name</label>
                    <label class="test-lang">@t.Language.ToString()</label>
                    <buton type="button" onclick="pinTest(@t.Id)"></buton>
                </a>
            }
        </div>

    }
    else
    {
        <p>We have not found a single test that could satisfy all filters :(</p>
    }
</div>

<form method="post" asp-action="Index" asp-controller="Tests" id="filterForm" class="filter-form">
    <div class="languages-zone">
        <label>Chosen languages:</label>
        @{
            Language[] langs = Enum.GetValues(typeof(Language)).Cast<Language>().ToArray();
            foreach (Language lang in langs)
            {
                if (lang != Language.Unset)
                {
                    <div>
                        <label>@lang.ToString()</label>
                        <input type="checkbox" value="@lang" name="Filter.ChosenLanguages" @(Model.Filter.ChosenLanguages.Contains(lang) ? "checked" : "") />
                    </div>
                }
            }
        }
    </div>

    <div class="age-restriction-zone">
        <label>Age rating:</label>
        @{
            AgeRestriction[] ages = Enum.GetValues(typeof(AgeRestriction)).Cast<AgeRestriction>().ToArray();
            foreach (AgeRestriction age in ages)
            {
                <div>
                    <label>@age.ToReadableString()</label>
                    <input type="checkbox" value="@age" name="Filter.ChosenAges" @(Model.Filter.ChosenAges.Contains(age) ? "checked" : "") />
                </div>
            }
        }
    </div>
    <div>
        <p>Questions Count</p>
        <p>
            From:
            <input asp-for="Filter.MinQuestionsCount" type="number" />
            To:
            <input asp-for="Filter.MaxQuestionsCount" type="number" />
        </p>
    </div>
    <div>
        <p>Comments Count</p>
        <p>
            From:
            <input asp-for="Filter.MinCommentsCount" type="number" />
            To:
            <input asp-for="Filter.MaxCommentsCount" type="number" />
        </p>
    </div>

    <div>
        <p>Passings Count</p>
        <p>
            From:
            <input asp-for="Filter.MinPassingsCount" type="number" />
            To:
            <input asp-for="Filter.MaxPassingsCount" type="number" />
        </p>
    </div>

    <div>
        <p>Average Rating</p>
        <p>
            From:
            <input asp-for="Filter.MinAverageRating" type="number" />
            To:
            <input asp-for="Filter.MaxAverageRating" type="number" />
        </p>
    </div>
    <div>
        <label>Only Pinned:</label>
        <input asp-for="Filter.OnlyPinned" type="checkbox" />
    </div>
    <button type="button">Choose tags</button>
    <button type="submit">Apply Filters</button>
</form>
@{
    var jsonData = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Tests);
}
<script>
    var testsData = @Html.Raw(jsonData);
    function sortTestsData() {
        const sortType = document.getElementById('sortType').value;
        const isAscending = document.getElementById('isSortAscending').checked;
        testsData.sort((a, b) => {
            let valA, valB;
            switch (sortType) {
                case 'Date':
                    valA = new Date(a.CreationTime);
                    valB = new Date(b.CreationTime);
                    break;
                case 'Name':
                    valA = a.Name;
                    valB = b.Name;
                    break;
                case 'Author':
                    valA = a.AuthorId;
                    valB = b.AuthorId;
                    break;
                default:
                    return 0;
            }

            if (isAscending) {
                return valA < valB ? -1 : valA > valB ? 1 : 0;
            } else {
                return valA > valB ? -1 : valA < valB ? 1 : 0;
            }
        });
    }

    function displayTests() {
        console.log(testsData);
        sortTestsData();
        const container = document.querySelector('.test-container');
        container.innerHTML = '';
        testsData.forEach(test => {
            const testHTML = `
                        <a href="/Tests/Test/${test.Id}" class="test-info">
                            <img src="${test.ImagePath}" style="width:130px; height:130px;" class="test-img"/>
                            <label class="test-name-label">${test.Name}</label>
                            <label class="test-lang">${test.Language}</label>
                            <buton type="button" onclick="pinTest(${test.Id})">Pin</buton>
                        </a>
                    `;
            container.innerHTML += testHTML;
        });
    }

    document.getElementById('sortType').addEventListener('change', displayTests());
    document.getElementById('isSortAscending').addEventListener('change', displayTests());
</script>
<style>
    .sort-block {
        position: fixed;
        width: calc(93vw - 220px);
        left: 20px;
    }

    .filter-form {
        position: fixed;
        height: calc(90vh - 40px);
        width: calc(7vw + 200px);
        right: 20px;
        top: 8vh;
        overflow-y: auto;
    }

        .filter-form input[type="number"] {
            width: 60px;
        }

    .main-container {
        position: absolute;
        top: calc(10vh + 40px);
        left: 20px;
        overflow-y: auto;
    }

    .test-info {
        max-width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        padding: calc(0.3vw + 0.24vh + 6px);
        cursor: pointer;
        aspect-ratio: 1/1.35;
    }

    .test-img {
        width: 100%;
        aspect-ratio: 1/1.14;
        object-fit: contain;
        cursor: pointer;
        border-radius: calc(5px + 0.35vh + 0.2vw);
    }
</style>