<label class="choose-label">Choose id of the related result</label>
<div class="possible-results-container">
    <InputRadioGroup @bind-Value="ChosenResult" Name="@groupName">
        @foreach (var result in ResultIdsToChooseFrom) {
            string radioId = $"{groupName}-{result.Key}";
            <div class="possible-result">
                <InputRadio name="@groupName"
                            value="@result.Key.Value" TValue="Guid"
                            id="@radioId" />
                <label for="@radioId">@result.Value</label>
            </div>
        }
    </InputRadioGroup>

    <div class="create-res-btn" @onclick="ChangeToResultCreating">Create New</div>
</div>
<p></p>
<div class="assign-btn" @onclick="@AssignResultBtnPressed">
    Assign
</div>
@code {
    private string errorString = "";
    private string groupName = $"result-{Guid.NewGuid()}";
    private Guid? ChosenResult { get; set; } = null;


    [Parameter] public Action ChangeToResultCreating { get; set; }
    [Parameter] public Dictionary<DraftTestResultId, string> ResultIdsToChooseFrom { get; set; } = [];
    [Parameter] public Action<DraftTestResultId, string> AssignResult { get; set; }

    private void AssignResultBtnPressed() {
        if (ChosenResult == null || ChosenResult == Guid.Empty) {
            errorString = "Choose the result first";
            return;
        }
        DraftTestResultId chosenResultId = new(ChosenResult.Value);
        if (ResultIdsToChooseFrom.TryGetValue(chosenResultId, out string resultName)) {
            AssignResult(chosenResultId, resultName);
        }
        else {
            errorString = "Unable to assign result";
            return;
        }
    }
}
