@model TestTakingViewModel
<div class="main-container">
    <button class="prev-next-btn" type="button" id="prev">Prev</button>
    <form method="post" asp-action="TestTaken" asp-controller="TestTaking" class="question-form">
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            <div class="question">
                <label class="question-number-label">Question @(i + 1) out of @Model.Questions.Count</label>
                <h2 class="question-text">@Model.Questions[i].Text</h2>
                <div class="divider-line"> </div>
                @for (int j = 0; j < Model.Questions[i].AnswerOptions.Count; j++)
                {
                    string radioId = $"radio_{i}_{j}";
                    string answerKey = Model.Questions[i].AnswerOptions.Keys.ToArray()[j];
                    string answerValue = Model.Questions[i].AnswerOptions[answerKey].ToString();
                    <div class="answer-line">
                        <input class="custom-radio" type="radio" id="@radioId" name="Answers[@i]" value="@answerValue" />
                        <label for="@radioId">@answerKey</label>
                    </div>
                }
            </div>
        }
        <p class="warning-line"></p>
        <button class="finish-test-btn" type="submit">Finish</button>
    </form>


    <button class="prev-next-btn" type="button" id="next">Next</button>
</div>



<style>
    .hide-display {
        display: none;
    }

    .main-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        
    }

    .question-form {
        margin: 0 auto;
        margin-top: calc(0.3vh + 5px);
        width: calc(90% - 50px);
        justify-self: center;
        min-height: calc(5px + 80vh);
        height: 100%;
        position: relative;
    }
    .prev-next-btn {
        height: calc(2vh + 1vw + 25px);
        aspect-ratio:1/1;
        display:flex;   
        justify-content:center;
        align-items:center;
    }
    .question-text {
        width: 100%;
        font-size: 21px;
        text-align: center;
    }
    .warning-line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: calc(10px + 2.9vh + 0.23vw);
        font-weight: 600;
        font-size: 12px;
    }

    .finish-test-btn {
        font-weight: 600;
        font-size: calc(9px + 0.3vw + 1.55vh);
        height: calc(25px + 2.45vh + 0.18vw);
        width: calc(30px + 5vw + 6vh);
        border: 1px solid transparent;
        border-radius: calc(5px + 0.27vh + 0.12vw);
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        transition: transform .03s ease;
    }

        .finish-test-btn:hover {
            transform: translateX(-50%);
        }

    .question-number-label {
        width: 100%;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
    }

    .divider-line {
        width: calc(100% - 6vh - 12vw - 52px);
        width: 100%;
        height:3px;
        border-radius: 100vw;
        margin: 0 auto;
        margin-top: 6px;
    }

</style>