@model TestCreationResultsViewModel

<form asp-action="Results" asp-controller="TestCreation" method="post" id="resultsForm">

    <h3>The minimum number of points available to receive: @Model.MinAvailablePoints</h3>
    <h3>The minimum number of points available to receive: @Model.MaxAvailablePoints</h3>

    <input type="hidden" value="@Model.MinAvailablePoints" name="MinAvailablePoints">
    <input type="hidden" value="@Model.MaxAvailablePoints" name="MaxAvailablePoints">

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p class="text-danger">@Model.ErrorMessage</p>
    }
    @if (Model.MaxAvailablePoints != Model.MinAvailablePoints)
    {
        <div id="result-items-container">

            @for (int i = 0; i < Model.ResultItems.Count; i++)
            {
                <div class="resultItem">
                    <p class="main-text" value="New result">Main text:</p>
                    <input type="text" name="ResultItems[@i].MainText" required value="@Model.ResultItems[i].MainText" />
                    <p>
                    <p>
                        From: <input type="number" name="ResultItems[@i].From" value="@Model.ResultItems[i].From" required />
                        To: <input type="number" name="ResultItems[@i].To" value="@Model.ResultItems[i].To" required />
                    </p>
                    <p>Description:</p>
                    <p> <input class="answer-description-input" name="ResultItems[@i].Description" value="@Model.ResultItems[i].Description" /></p>
                    <button type="button" class="delete-button">Delete</button>
                    <!-- <button class="load-image-button">Load image</button> -->
                </div>
            }
        </div>
        <p>
            <button type="button" class="btn btn-primary">Add new result</button>
        </p>
        <button type="submit" class="btn btn-primary">Save</button>

    }
    <button type="button" class="btn btn-primary" onclick="goToMain()">Go to main</button>
    <button type="button" class="btn btn-primary" onclick="goToQuestions()">Go to questions</button>
    <button type="button" class="btn btn-primary" onclick="finishCreation()">Finish creation</button>
</form>

<script>
    function finishCreation() {
        fetch('/testcreation/finishcreation', {
            method: 'POST'
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => { throw new Error(text) });
                }
                return response.json();
            })
            .then(data => {
                window.location.href = '/Tests/Test?id=' + data;
            })
            .catch((error) => {
                alert(error.message);
            });
    }

    document.querySelector('.btn.btn-primary').addEventListener('click', function () {
        const resultsContainer = document.getElementById('result-items-container');
        const resultIndex = resultsContainer.children.length;

        const resultItemHtml = `
                    <div class="resultItem">
                        <p class="main-text">Main text:</p>
                            <input type="text" name="ResultItems[${resultIndex}].MainText" required />
                            <p>From: <input type="number" name="ResultItems[${resultIndex}].From" required /></p>
                            <p>To: <input type="number" name="ResultItems[${resultIndex}].To" required /></p>
                        <p>Description:</p>
                            <input class="answer-description-input" name="ResultItems[${resultIndex}].Description" />
                        <button type="button" class="delete-button">Delete</button>
                    </div>
                `;

        resultsContainer.insertAdjacentHTML('beforeend', resultItemHtml);
    });
    function goToQuestions() { window.location.href = '/TestCreation/Questions' }
    function goToMain() { window.location.href = '/TestCreation'; }


</script>